.widget_bracket {
    display: flex;
    align-content: stretch;
}

.widget_bracket > .bracket {
    width: 100%;
    height: 100%;
}

.g_team img {
	width: 3em;
	height: 3em;
}


/* Simple Bracket styling */
.sb-match_label {
    text-align: center;
}

.sb-match_label img {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.sb-match_lost {
    -webkit-filter: sepia() contrast(0.5) blur(2px);
}
/* END SIMPLE BRACKET STYLING */