/* Some CSS for message boxes adapted from styles found at http://codepen.io/terrancerobb/pen/bnuqe */
.widget_rpgsay {
    border: solid 0.3vh #424542;
    box-shadow: 0.3vh 0.3vh #e7dfe7,
        -0.3vh -0.3vh #e7dfe7,
        0.3vh -0.3vh #e7dfe7,
        -0.3vh 0.3vh #e7dfe7,
        0 -0.6vh #9c9a9c,
        -0.6vh 0 #7b757b,
        0 0.6vh #424542;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: -webkit-linear-gradient(top, #04009d 0%, #06004d 100%);
    background: linear-gradient(to bottom, #04009d 0%, #06004d 100%);
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1;
    margin: 1vh 2vh;
    border-radius: 2vh;
    overflow: hidden;
}

.widget_rpgsay > .face {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    height: 100%;
    border: solid 0.3vh #424542;
    box-shadow: 0.3vh 0.3vh #e7dfe7,
        -0.3vh -0.3vh #e7dfe7,
        0.3vh -0.3vh #e7dfe7,
        -0.3vh 0.3vh #e7dfe7,
        0 -0.6vh #9c9a9c,
        -0.6vh 0 #7b757b,
        0 0.6vh #424542;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2vh;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
}

.widget_rpgsay > .text_box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1;
    padding: 3vh;
    font-size: 3vh;
    font-family: 'Press Start 2P', 'Courier New', cursive;
    overflow-y: auto;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
    1px 1px #212021;
}

.widget_rpgsay > .face.right {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
}