.widget_rpgsay {
    border: solid 0.3vh #424542;
    box-shadow: 0.3vh 0.3vh #e7dfe7,
        -0.3vh -0.3vh #e7dfe7,
        0.3vh -0.3vh #e7dfe7,
        -0.3vh 0.3vh #e7dfe7,
        0 -0.6vh #9c9a9c,
        -0.6vh 0 #7b757b,
        0 0.6vh #424542;
    display: flex;
    background: linear-gradient(to bottom, #04009d 0%, #06004d 100%);
    flex: 1 1;
    margin: 1vh 2vh;
    border-radius: 2vh;
    overflow: hidden;
}

.widget_rpgsay > .face {
    box-sizing: border-box;
    height: 100%;
    border: solid 0.3vh #424542;
    box-shadow: 0.3vh 0.3vh #e7dfe7,
        -0.3vh -0.3vh #e7dfe7,
        0.3vh -0.3vh #e7dfe7,
        -0.3vh 0.3vh #e7dfe7,
        0 -0.6vh #9c9a9c,
        -0.6vh 0 #7b757b,
        0 0.6vh #424542;
    background-image: none;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 2vh;
    order: 1;
}

.widget_rpgsay > .text_box {
    flex: 1 1;
    padding: 3vh;
    font-size: 3vh;
    font-family: 'Press Start 2P', cursive;
    overflow-y: auto;
    order: 2;
    color: #eff1ff;
    text-shadow: 2px 2px #212421,
    1px 1px #212021;
}

.widget_rpgsay > .face.right {
    order: 3;
}