.widget_screen_intro {
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 100%;
}

.widget_screen_intro > .background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-filter: blur(12px) contrast(0.66);
    z-index: -1;
}

.widget_screen_intro > .title_container {
    flex: 2 2;
    display: flex;
    align-items: center;
}

.widget_screen_intro > .title_container > .title_text {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;
    font-size: 8vh;
    width: 100%;
    text-shadow: 2px 2px white;
}

.widget_screen_intro > .button_container {
    flex: 2 2;
    display: flex;
    align-items: center;
}

.widget_screen_intro > .button_container > .start_tournament {
    margin: 0 auto;
    background-color: #38a6f0;
    color: white;
    padding: 1em 1em;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: 3em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-family: 'Gloria Hallelujah', cursive;
    outline: none;
    text-shadow: 1px 1px black;
}

.widget_screen_intro > .announcer_container {
    flex: 1 1;
    height: 100%;
    display: flex;
}

.widget_screen_intro > .announcer_container > .announcer {
    flex: 1 1;
    display: flex;
}