.widget_screen_intro {
	display: flex;
}

.widget_screen_intro > .widget_image {
	width: 3em;
	height: 3em;
	min-width: 3em;
	min-height: 3em;
	border: 1px solid green;
	position: absolute;
	top: 0;
	left: 0;
}

.widget_screen_intro > button {
	margin: auto;
}