.widget_selecting {
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget_selecting > .img_holder {
    flex: 3 3;
    text-align: center;
}

.widget_selecting > .img_holder > img {
    display: inline-block;
    max-width: 96%;
    max-height: 96%;
}

.widget_selecting > .versus {
    flex: 1 1;
    width: 25%;
    height: 100%;
    background-image: url(images/versus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
